header {
  display: flex;
  align-items: center;
}

.header__title__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 20px;
  font-weight: bold;
}
